body{
font-size: 0.75em;
}
.wrapper{
display: block;
width: 100%;
text-align: center;
}
#create_box{
display: block;
border: 1px solid #ccc;
width: 500px;
height: auto;
margin-left: auto;
margin-right: auto;
text-align: center;
background: url("bg.gif") no-repeat right bottom;
}
#create_box table.form{
padding: 0;
margin: 0;
border: 0;
text-align: left;
margin-left: auto;
margin-right: auto;
}
#create_box .title{
font-size: 13px;
font-weight: bold;
display:block;
background-color: #ddd;
padding: 5px 5px;
}
#create_box .note{
padding: 15px 5px;
display: block;
}
#create_box .upload{
padding-top: 25px;
}
#create_box #result a{
padding: 5px 5px;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
color: #333;
width: 75px;
font-size: 13px;
display: block;
border: 1px solid #33aa33;
background-color: #88cc88;
text-decoration: none;
}
#create_box #result a:hover{
background-color: #aaddaa;
}
#create_box .error{
color: red;
}
